
*{
padding: 0;
margin:0;
box-sizing: border-box;

}

header{
  width: 100%;
  height: 85vh;
  background: url(brick\ wall\ neon\ light.jpg) center;
  background-size: cover;
  font-family:"poppins",sans-serif;
}
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }


nav{
  width:100%;
  height:100px;
  background: indian;
  color:brown;
  display: flex;
  justify-content:space-around;
  align-items:center;
}

.logo{
  font-size: 2em;
  letter-spacing: 2px;
}

.menu a{
  text-decoration: none;
  color:aliceblue;
  padding: 10px 20px;
  font-size: 20px;
}

.menu a:hover{
  border: 1px solid indianred;
  background: transparent;
}


.register a{
  text-decoration: none;
  color: red;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  background: indianred;
}

.register a:hover{
  border: 1px solid indianred;
  background: transparent;

}

.h-text{
  position: absoulte;
  top: 50%;
  left: 50%;
  max-width:650px;
  transform: translate(-50%,-50%);
  text-align: center;
  color: indianred;
}

.h text span{
  letter-spacing:5px;
  text-align: center;

}

.h-text h1{
  font-size: 8.5em;
  text-align: center;

}

.h-text a{
  text-decoration: none;
  background: indianred;
  padding: 10px; 15px;
  color: #fffff;
  letter: spacing 5px;
  transition: 0.4s;

}

/***********************FOOTER START BELOW**********/
.footersites ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0; /* Remove default padding */
}

.footersites ul li {
  margin: 0; /* Remove default margin */
}

.footersites ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  transition: 0.5s;
}

/* Add margin to create space between links */
.footersites ul li {
  margin: 0 10px;
}

.socialIcon{
  text-align: center;
}
.footerBottom{
  text-align: center;
  font-size: x-small;

}

/***********************************************/
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}